
/**
* Set error reporting for build
*/

error_reporting(E_ALL);

/**
* Set site url and project dir constants
*/

define ("SITE_URL", "http://localhost/my_project");
define ("PROJECT_DIR", "/var/www/html/my_project");

/**
Put your mysql credentials here, remove this comment and rename the file to env_local.php
*/

define('DB_CONNECT_STRING', "mysql:host=localhost;dbname=database_name");
define('DB_USER', "mysql_username");
define('DB_PASSWORD', "database_password");
